body {
  width: 410px;
  margin: 0;
  text-align: center;
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #393d41;
  line-height: 1.65;
  font-weight: 400;
}

img {
  width: 150px;
  margin-top: 25px;
  margin-bottom: 20px;
}

header {
  background-image: url(assets/images/banner.jpg);
  background-size: cover;
  padding: 25px 30px 0px 30px;
  height: 360px;
  line-height: 1.5;
}

h1 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
}

header button {
  background-color: #f04c2f;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 15px;
}

main div {
  background-color: white;
  padding: 20px 20px 40px 20px;
}

main h4 {
  color: #25a2c3;
  height: 15px;
}

#notebook {
  border-radius: 50%;
  width: 75%;
  margin: 0;
}

#orange {
  background-color: #e22d0e;
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
}

div h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 35px;
}

#orange p {
  font-weight: 350;
  font-style: italic;
}

#name {
  font-size: large;
}

#ceo {
  font-size: small;
}

section img {
  width: 370px;
  height: 245px;
  margin: 0;
}

section {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-right-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: rgb(235, 235, 235);
  border-radius: 5px;
}

section h4 {
  color: #25a2c3;
  margin-top: 10px;
}

footer {
  background-color: #25a2c3;
  padding-bottom: 60px;
  padding-top: 40px;
  color: #c8e7f0;
  font-size: large;
}

a {
  color: #c8e7f0;
}

footer h2 {
  color: white;
  padding-bottom: 5px;
  margin-top: 5px;
}

hr {
  color: #c8e7f0;
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}

i {
  color: white;
}
